/*
Color Palette
#67A1E0 - blue
#060E0D - black
*/

body {
    background-color: #67A1E0;
}

p {
    font-family: 'Libre Baskerville', serif;
}

img {
    width: 250px;
}

h1 {
    color: #060E0D;
    font-family: 'Mukta', sans-serif;
}